@page
@model ParkNetApp.Pages.AddVehicle.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Add New Vehicle</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

@if (Model.Vehicles.Count == 0)
{
    <p>You haven't added any vehicles to the platform yet!</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Plate Number</th>
                <th>Make</th>
                <th>Model</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Vehicles)
            {
                <tr>
                    <td>@item.VehicleType.Type</td>
                    <td>@item.PlateNumber</td>
                    <td>@item.Make</td>
                    <td>@item.Model</td>

                    <td>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
