@page
@model ParkNetApp.Pages.MovementAndBilling.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Billings</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-page="Create">Create New Entry Manually</a>
    </p>

    <p>
        <a asp-page="BillingView">Billing Report</a>
    </p>

    <form method="get">
        <label for="emailFilter">Filter by User Email:</label>
        <select id="emailFilter" name="emailFilter" asp-for="SelectedEmail" asp-items="Model.UserEmails">
            <option value="">See All User Emails</option>
        </select>
        <label for="typeFilter">Filter by Transaction Type:</label>
        <select id="typeFilter" name="typeFilter" asp-for="SelectedTransactionType" asp-items="Model.TransactionTypes">
            <option value="">See All Transaction Types</option>
        </select>
        <button type="submit">Filter</button>
    </form>
    <br />
}


@if (Model.Movement == null || !Model.Movement.Any())
{
    <p>No transactions found.</p>
}
else
{
    @if(Model.SelectedEmail != null)
    {
        <p><strong>@Model.SelectedEmail</strong></p>
        <p>Current user balance: <span class="text-danger">@Model.UserBalance?.ToString("C")</span></p>

        @if (Model.UserBalance < 0)
        {
            @if (Model.UserBalance < 0)
            {
                <form method="post">
                    <input type="hidden" name="recipientId" value="@Model.Movement.FirstOrDefault(m => m.User.Email == Model.SelectedEmail)?.UserId" />
                    <input type="hidden" name="userBalance" value="@Model.UserBalance" />
                    <button type="submit" class="btn btn-primary">Send an email to the user</button>
                </form>

            }
        }
    }
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>Transaction date</th>
                <th>Amount</th>
                <th>Type</th>
                <th>User Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Movement)
            {
                if (item.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier) || User.IsInRole("Admin"))
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.TransactionDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransactionType)</td>
                        <td>@Html.DisplayFor(modelItem => item.User.Email)</td>
                    </tr>
                }
            }
        </tbody>
    </table>


    
}
