@page
@model ParkNetApp.Pages.ParkingLotView.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Slot</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.SlotType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.SlotType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.IsOccupied)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.IsOccupied)
        </dd>
    </dl>

        <p style="color: cornflowerblue;"><strong>More information (Parking Lot): </strong></p>
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.Floor.ParkingLot.Designation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.Floor.ParkingLot.Designation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.Floor.ParkingLot.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.Floor.ParkingLot.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.Floor.ParkingLot.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.Floor.ParkingLot.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.Floor.ParkingLot.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.Floor.ParkingLot.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.Floor.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.Floor.Name)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Slot.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>

    <a asp-page="/ParkingLotView/Index" asp-route-id="@Model.Slot.Floor.ParkingLot.Id" class="btn btn-secondary">
        Back to Parking Lot Layout
    </a>
</div>



