@page
@model ParkNetApp.Pages.ParkingLotView.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Slot</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.SlotType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.SlotType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.IsOccupied)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.IsOccupied)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slot.Floor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slot.Floor.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Slot.Id">Edit</a> |
    <a asp-page="./View">Back to List</a>
</div>
