@page
@model ParkNetApp.Pages.AddParkingLot.IndexModel

@{
    ViewData["Title"] = "Index";
}

@if(User.IsInRole("Admin"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
    
}
<table class="table">
    <thead>
        <tr>
            <th> Designation </th>
            <th> Adress </th>
            <th> City </th>
            <th> Country </th>
            <th> Active At </th>
            <th> Description </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ParkingLot) {
            <tr>
                <td>@item.Designation</td>
                <td>@item.Address</td>
                <td>@item.City</td>
                <td>@item.Country</td>
                <td>@item.ActiveAt.ToString("dd-MM-yyyy")</td>
                <td>@item.Description</td>
                <td>
                    <a asp-page="../ParkingLotView/View" asp-route-id="@item.Id" class="btn btn-success">Park View</a>
                </td>
                <td>
                    @if(User.IsInRole("Admin"))
                    {
                    <td><a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> </td>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
