@page
@model ParkNetApp.Pages.ActivityHistory.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">History - Entries and Exits</h1>

@* <p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p> *@

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Entry at</th>
            <th>Exit at</th>
            <th>Vehicle</th>
            <th>Slot</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EntryAndExitHistory)
        {
            <tr>
                <td>@(item.EntryAt.ToString("dd/MM/yyyy HH:mm") ?? "--")</td>
                <td>@(item.ExitAt?.ToString("dd/MM/yyyy HH:mm") ?? "--")</td>
                <td>@(item.Vehicle.Make ?? "--") - @(item.Vehicle.PlateNumber ?? "--")</td>
                <td>@(item.Slot.Code ?? "--") - @(item.Slot.Floor.Name ?? "--")
                    (@(item.Slot.Floor.ParkingLot.Designation ?? "--"))</td>
                <td>@(item.Movement.Amount.ToString("C") ?? "--")</td>
                <td>@(item.Movement.TransactionType ?? "--")</td>
                <td>@(item.Movement.TransactionDate?.ToString("dd/MM/yyyy HH:mm") ?? "--")</td>
@*                 <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td> *@
            </tr>
        }
    </tbody>
</table>
