@page
@model ParkNetApp.Pages.AddPermit.CreateModel

        @{
            ViewData["Title"] = "Create";
            var dateNow = DateTime.Now;
        }
        
        <h1>Create</h1>
        
    <h4>ParkingPermit</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">

<form method="post">
    <div class="form-group">
        <label for="slot">Select a Slot:</label>
        <select asp-for="SelectedSlotId" class="form-control">
            @foreach (var slot in Model.Slots)
            {
                <option value="@slot.Id">@slot.Code -  @(slot.SlotType == 'C' ? "Car" : "Motorcycle") - @slot.Floor.Name</option>
            })
        </select>
    </div>

    <div class="form-group">
        <label for="permit">Select the number of days for the permit:</label>
        <select asp-for="SelectedPermitInfoId" class="form-control")">
            @foreach (var permitInfo in Model.PermitInfos)
            {
                <option value="@permitInfo.Id">@permitInfo.DaysOfPermit days - @(permitInfo.Value.ToString("c")) </option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submeter</button>
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
