@page
@model ParkNetApp.Pages.AddPermit.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ParkingPermit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingPermit.SartedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingPermit.SartedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingPermit.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingPermit.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingPermit.Slot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingPermit.Slot.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingPermit.PermitInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkingPermit.PermitInfo.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ParkingPermit.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
